@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

a,
a:hover {
  text-decoration: none;
}

a:hover {
  color: var(--primary-color) !important;
}

ul,
ol {
  margin: 0;
  padding: 0;
}


/*===== Variable Define =====*/
:root {
  --primary-color: #ea792d;
  --secondry-color: #43121d;
  --third-color: #f98169;
  --white-color: #fff;
  --text-color: #555;
  --text-gray: #999;
  --black-color: #000;
  --primary-font: 'Roboto', sans-serif;
  --secondry-font: 'Quicksand', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  font-size: 100%;
  font-weight: 400;
}

/*
=========================================
    Custom Scrollbar
=========================================
*/ 

::-webkit-scrollbar {
  width: 0.625rem;
} 
::-webkit-scrollbar-track {
  background: var(--white-color); 
} 
::-webkit-scrollbar-thumb {
  background:var(--primary-color); 
} 

/*
==========================================
   Custom CSS Design
==========================================
*/

h1 {
  font-size: 3.5rem;
  font-weight: 900;
  color: orange;
}

h2 {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: capitalize;
  font-family: var(--secondry-font);
  color: var(--secondry-color);
  line-height: 3rem;

}

h4 {
  color: var(--secondry-color);
  font-family: var(--secondry-font);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

h5 {
  color: var(--primary-color);
  text-transform: capitalize;
  font-family: var(--secondry-font);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.5rem;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  font-weight: 400;
}

.main-btn {
  display: inline-block;
  padding: 0.625rem 1.875rem;
  line-height: 1.5625rem;
  background-color: var(--primary-color);
  border: 0.1875rem solid var(--primary-color);
  color: var(--white-color);
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
  -webkit-transition: all .4s ease-out 0s;
  -o-transition: all .4s ease-out 0s;
  -moz-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.white-btn {
  padding: 0.625rem 1.875rem;
  line-height: 25px;
  background-color: var(--white-color);
  border: 0.1875rem solid var(--white-color);
  color: var(--text-color);
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
  -webkit-transition: all .4s ease-out 0s;
  -o-transition: all .4s ease-out 0s;
  -moz-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.main-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.white-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.wrapper {
  padding-top: 0rem;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

.text-content {
  width: 70%;
  margin: auto;
}

.counter-section h2,
.testimonial-section h2,
.book-food-text h2 {
  color: var(--white-color);
}

/*
==========================================
   Header Design
==========================================
*/
.navigation-wrap{
  position:fixed;
  width:100%;
  left:0;
  z-index:1000;
  -webkit-transition:all 0.3s ease-out;
  transition:all 0.3s ease-out;
} 
.navigation-wrap .nav-item{
  padding:0 0.625rem;
  transition:all 200ms linear;
}
.navbar-toggler:focus{
  outline:unset;
  border:unset;
  box-shadow: none;
}
.nav-link{
  font-size:0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  color:var(--primary-color);
  letter-spacing: 1px;
}
.navigation-wrap .main-btn{
  padding:0.3125rem 1.4375rem;
  box-shadow: none;
  margin-left:0.625rem;
} 
.logo-img{
    height: 50px;
    width: 40px;
    padding-bottom: 10px;
}
.nav-link{
    font-size: 1.2rem;
}
.nav-link:hover{
     border: 1px solid rgb(255, 255, 255);
     border-radius: 5px;
     background-color: #2B2E57;
}

  #hustler{
    color: #ea792d;
    padding-left: 10px;
    font-size:30px;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
  }
/* Change navbar styling on scroll */

.navigation-wrap.scroll-on{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background-color: #48494a;
  box-shadow: 0 0.125rem 1.75rem 0 rgb(0,0,0,0.09);
  transition:all .15s ease-in-out 0s;
}
 


/*
==========================================
   top-banner Design
==========================================
*/
.top-banner{
  width:100%;
  background: url('https://themebeyond.com/html/geco/Geco/img/slider/fifth_banner_bg.jpg') no-repeat center;
  background-size:cover;
  padding:16.875rem 0 9.375rem;
}
.top-banner h1{
  animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

 

/*
==========================================
  counter Design
==========================================
*/
.counter-section{
  background-color:#48494A;
  padding-bottom: 1.2rem;
}
.counter-section p{
  color:var(--white-color);
  text-transform: uppercase;
  font-family: 'Tiro Gurmukhi', serif;
}
.counting{
    border: 2px solid white;
    background: linear-gradient(to left, #60232B,#282F5B);
}
.data{
    text-align: center;
    font-style: normal;
    font-weight: 900;
    padding-top: 1rem;
    font-family:'Roboto', sans-serif !important;
}

/* <!-- Play --> */
.hiw-1 {
    display: flex;
    text-align: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {

    .hiw-1 {
        display: block;
    }

    .hiw-img {
        width: 0;
        height: 0;
    }

}

.hiw {
    text-align: center;
    border-radius: 15px;
    padding: 5px;
    font-size: 5px;
    font-family: 'Abril Fatface', cursive;
    background-image: url("https://themebeyond.com/html/geco/Geco/img/bg/h5_footer_bg.jpg");
}

.hiw-img {
    padding-top: 18px;
}

.hiw-img-bor {
    border: none;
    padding: 12px;
    border-radius: 8px;
    width: 90px;
    background-color: purple;
}

.hiw h3 {
    padding-top: 8px;
}

.hiw-body {
    width: 80vw;
    margin: auto;
    padding: 20px;
}

/* Events */
.title34{
    color:#ea792d;
  font-size: 30px;
   text-align: center;
    margin-top: 20px;
}
.title34 span{
  color: grey;
}

.background{
  
  color: WHITE;
  background-color: rgba(245, 69, 4, 0.904);
  margin: 30px 0px 0px 0px ;

  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  border-radius: 10px;
  
}
.background h3{
 padding-left: 20px;
 text-align:center;
  /* justify-items: baseline; */
  color: white;
  font-size: 23px;
  padding-top: 200px;
}
i{
  padding-left: 5px;
  color: rgb(255, 191, 0);
}
.background:hover{
   background-blend-mode: screen;
}
.col-md-4 a{
  text-decoration: none;
}
.game-c{
  padding-bottom: 40px;
}
.hover{
  width: 400px;
    transition: 0.5s;
}

.hover:hover{
   transform: scale(1.05);
}
.img{
  background-image: url("https://i.pinimg.com/originals/19/57/2d/19572d7dd6523eb68d53b1b53e9190cf.jpg");
}
.img1{
  background-image: url("https://cdn.shopify.com/s/files/1/0747/3829/products/mL3734_1024x1024.jpg?v=1571445752");
}
.img2{
  background-image: url("https://www.xtrafondos.com/wallpapers/vertical/call-of-duty-mobile-poster-4010.jpg")
}
.img3{
  background-image: url("https://wallpaperaccess.com/full/6164282.jpg");
}
.img4{
  background-image: url("https://a-static.besthdwallpaper.com/pubg-new-state-wallpaper-2160x3840-70780_206.jpg");
}
.img5{
  background-image: url("https://vignette3.wikia.nocookie.net/leagueoflegends/images/4/42/Season_1_Banner.jpg/revision/latest?cb=20100616151834");
}

/* Games */

.card4{
   
  border-radius: 10px;
  background: linear-gradient(to left, #60232B,#282F5B);
  background-repeat: no-repeat;
    transition: .3s ;
  cursor: pointer;
}

.card4:hover{
   transform: scale(1.05);

}
@media only screen and (max-width: 600px) {
  .card4{
    background: linear-gradient(to left, #60232B,#282F5B);
  }
}

 /* video */

video {  
  width: 100vw;
  height: 70vh;
  object-fit: cover;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  border: 15px solid rgb(246, 145, 3);
}
.overlay{
  color: rgb(87, 23, 249);
  text-align: center;
  font-size: 45px;
}

/* Explore STore */

.explore-store h2{
  color: #ea792d;
}
.explore-store .card{
  border:none;
  background-color: transparent;
  border-radius: 0.9375rem;
}
img:hover{
box-shadow: 0 3px 6px rgb(0,0,0,0.16),
0 3px 6px rgba(0,0,0,0.23);  
  transform: translate(0px, -8px);
  transition: .6s;
}
.explore-store .card img{
  border-radius: 0.9375rem;
  object-fit: cover;
}
.explore-store .card span{
  display:flex;
  font-size: 1.5rem;
  font-weight: 700;
  color:var(--primary-color);
  padding-bottom:1rem;
  border-bottom:0.0625rem solid #eee;
}
.explore-store .card span del{
  color:var(--text-gray);
  margin-left:0.5rem;
}



/* Review */
.testimonial-section{
  background-color: var(--primary-color);
}
.testimonial-section .carousel-item{
  margin-top:1rem;
  padding:10rem 3.125rem;
  background-color:var(--white-color);
  border-radius: 0.9375rem;
  text-align: center;
} 
.testimonial-section .carousel-caption img{
  max-width:5rem;
  border-radius: 50%;
  padding:0.3125rem;
}

.testimonial-section .carousel-item .carousel-caption p{
  font-size: 1.3125rem;
  line-height: 2.0625rem;
  padding:0 11% 0.625rem;
}
.testimonial-section .carousel-indicators{
  bottom:-2.8125rem;
}
.testimonial-section .carousel-indicators button{
  width:15px;
  height:15px;
  outline:none;
  border-radius: 50%;
  border:none;
  margin-right:1rem;
  opacity:0.2;
}
.testimonial-section .carousel-indicators button.active{
  opacity:1;
}


/* about us */
.headabt{
  text-align: center;
  background-color: var(--primary-color);
  padding-bottom: 3rem;
  padding-top: 2rem;
}
.headabt h2{
  color: #ffff;
}
.abt-txt{
   font-size: 20px;
   font-weight: 400;
   font-family: 'Mukta', sans-serif;
}
.abouta{
 display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  position: relative;
}

 .abt{
  max-width: 1300px;
  width: 100%;
  overflow: hidden;
  padding: 80px 0;
}
 .abt .main-card1{
  display: flex;
  justify-content: space-evenly;
  width: 200%;
  transition: 1s;
}
#two:checked ~ .main-card1{
  margin-left: -100%;
}
 .abt .main-card1 .cards{
  width: calc(100% / 2 - 10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}
.main-card1 .cards .card{
  width: 300px;
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}
.main-card1 .cards .card:hover{
  transform: translateY(-15px);
}
.cards .card .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cards .card .content .img{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background: #ea792d;
  margin-bottom: 14px;
}
.card .content .img img{
  height: 100%;
  width: 100%;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
}
.card .content .name{
  font-size: 20px;
  font-weight: 500;
}
.card .content .job{
  font-size: 20px;
  color: #ea792d;
}
.card .content .media-icons{
  margin-top: 10px;
  display: flex;

}
.media-icons a{
  text-align: center;
  line-height: 33px;
  height: 35px;
  width: 35px;
  margin: 0 4px;
  font-size: 14px;
  color: #FFF;
  border-radius: 50%;
  border: 2px solid transparent;
  background: #ea792d;
  transition: all 0.3s ease;
}
.media-icons a:hover{
  color: #ea792d;
  background-color: #fff;
  border-color: #ea792d;
}
  .abt .button{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.button label{
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #fff;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button label.active{
  width: 35px;
}
#one:checked ~ .button .one{
  width: 35px;
}
#one:checked ~ .button .two{
  width: 15px;
}
#two:checked ~ .button .one{
  width: 15px;
}
#two:checked ~ .button .two{
  width: 35px;
}
input[type="radio"]{
  display: none;
}
@media (max-width: 768px) {
  .main-card1 .cards .card{
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 600px) {
  .main-card1 .cards .card{
    /* margin: 20px 0 10px 0; */
    width: 100%;
  }
}

/* SPONSORs */
.spon{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}
.row_company{
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
  background-color: white;
}
.row_companys{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row_company:hover{
  transform: scale(1.05);
  
}
.row_companys::-webkit-scrollbar{
  display: block;
}
@media screen and (max-width:768px) {
  .row_company{
      width: 150px;
      object-fit: contain;
      max-height: 50px;
      margin-right: 10px;
      transition: transform 450ms;
  }
}



/* footer */
.footer{
  background: var(--primary-color);
}
.footer .footer-link{
  font-size:1rem;
  color:var(--white-color);
  padding:0 1.875rem;
}
.footer .footer-link:hover{
  color:var(--white-color) !important;
}
.footer a i{
  font-size: 1.5rem;
  color:var(--white-color);
  padding:0 1rem;
}



/* responsive */
@media (max-width:1024px) {

    /* about section */
    
}

@media (max-width: 991px) {

    /*custom classes  */
    .text-content{
        width:100%;
    }
     

    /* navbar brand */
    .navigation-wrap .navbar-brand img{
        height:3.8125rem;
    }
    .navigation-wrap{
        text-align: center;
        background-color: var(--white-color);
    }
    .navigation-wrap .nav-link{
        line-height: 1.875rem;
    }
    /* Banner Design */
    .top-banner{
        padding:9.375rem 0 9.375rem;
    }

    /* carousel design */
    .testimonial-section .carousel-item .carousel-caption p{
        padding:0;
    }
     
}

@media (max-width: 767px) {

    /* custom css */
    h1{
        font-size:2.8rem;
    }
    h2{
        font-size:2rem;
        line-height: 2.0625rem;
    }
     

    /* top banner */
    .top-banner{
        padding:10.875rem 0 9.375rem;
    }
    

    /* story section */
    .story-section{
        height:auto;
        padding:3rem 0;
    }
    

    /* carousel design */
    .testimonial-section .carousel-item{
        padding:11rem 3.125rem;
    }

    /* newslettar */
    .newsletter{
        width:75%;
    }
    .newsletter .main-btn{
        width:100%;
        margin-top:1rem;
    }

    /* footer link */
    .footer .footer-link,
    .footer a i{
        padding:0 0.7rem;
    }
     
}

@media (max-width:330px) {

    /* carousel design */
    .testimonial-section .carousel-item{
        padding:13rem 3.125rem;
    }
     
}
        




.b-height{
  position: relative;
  padding:35px 0px 0px;
}
.b-wrapper{
  display:flex;
  align-items:center;
  min-height: 650px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 3px 10px rgb(250, 250, 250);
} 
.b-min-height{
  height: 650px;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://wallpapercave.com/wp/wp2004813.jpg');    
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.b-logo{
  width:100px;
}
.logo1{
  background-color: blue;
  color: #fff !important;
}
.logo2{
  background-color: rgb(10, 186, 255);
  color: #fff !important;
}
.logo3{
  background: linear-gradient(to left, #fb16ff,#ff9310);
  color: #fff !important;
}
.b-title{
  padding-top: 200px;
}
.b-title h1{
  color:#fff;
  font-weight:600;
}
.b-title p{
  color: #e7e7e7;
  margin:30px 0px 40px;
}
.b-title button{
  letter-spacing: 0.4px;
  padding: 15px 85px;
  border-radius: 36px;
  border: 1.5px solid #fff;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
}
.b-title button:focus{
  outline:none;
}
.b-form{
  width:60%;
  margin:auto;
}
.b-form-title h1{
  color: #FFA500;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Abril Fatface', cursive;
}
.b-form-title i{
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 36px;
  line-height: 46px;
  font-size: 20px;
  margin: 13px 5px;
  color:#333;
  cursor:pointer;
}
.b-subtext{
  color: #b4b2b2;
  font-size: 14px;
}
.b-form .form-control{
  font-size:14px;
  height: 50px;
  padding-left: 45px;
  background: #edf9fe;
  border-color: #edf9fe;
  color: #333;
}
.b-form .form-control:focus{
  outline:none;
  box-shadow:none;
} 
.form-group{
  position: relative;
}
.b-font{
  position: absolute;
  top: 18px;
  left: 18px;
  z-index: 10;
  color: #6b6b6b;
  font-size:13px;
}    
.b-form .button1{
  letter-spacing: 0.4px;
  padding: 15px 85px;
  border-radius: 36px;
  border: 1.5px solid #fff;
  background: grey;
  color: #fff;
  text-transform: uppercase;
  margin-top:25px;
}
.b-form .button1:hover{
  background: whitesmoke;
  color: grey;
  border: 2px solid grey;
}
.b-form .button1:focus{
  outline:none;
}
.b-form .b-forgot{
  border-bottom: 1px solid #e8e4e4;
  padding-bottom: 10px;
  color: #7e7e7e;
  font-size: 14px;
  font-weight: 600;
  cursor:pointer;
  display:none;
}
.swift_right{
  display:none;
}
.swift_element{
  display:flex;
  align-items:unset;
  flex-direction: row-reverse;
  transition:0.3s ease-in-out;
  -webkit-transition:0.3s ease-in-out;
  -moz-transition:0.3s ease-in-out;
  -ms-transition:0.3s ease-in-out;
  -o-transition:0.3s ease-in-out;
}
.icon{
 font-size:35px;
}
.bi{
  color: #FFA500;
}

.popup{
  width: 400px;
  background: linear-gradient(to left, #60232B,#282F5B);
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: rgb(255, 250, 250);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.open-popup{
  visibility:visible;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
}

.popup img{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}
.popup .button2{
  width:100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}



.b-height{
  position: relative;
  padding:35px 0px 0px;
}
.b-wrapper{
  display:flex;
  align-items:center;
  min-height: 650px;
  background-color: rgba(255, 255, 255, 0.06);
  box-shadow: 0px 3px 10px rgba(255, 251, 251, 0.947);
} 
.b-min-height{
  height: 650px;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg?cs=srgb&dl=pexels-lucie-liz-3165335.jpg&fm=jpg');    
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.b-logo{
  width:100px;
}
.b-title{
  padding:100px 0px 0px;
}
.b-title h1{
  color:#fff;
  font-weight:600;
}
.b-title p{
  color: #e7e7e7;
  margin:30px 0px 40px;
}
.b-title button{
  letter-spacing: 0.4px;
  padding: 15px 85px;
  border-radius: 36px;
  border: 1.5px solid #fff;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
}
.b-title button:focus{
  outline:none;
}
.b-form{
  width:60%;
  margin:auto;
}
.b-form-title h1{
  color: #FFA500;
  font-size: 34px;
  font-weight: 900;
}
.b-form-title i{
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 36px;
  line-height: 46px;
  font-size: 20px;
  margin: 13px 5px;
  color:#333;
  cursor:pointer;
}
.logo1{
  background-color: blue;
  color:whitesmoke !important;
}
.logo2{
  background-color: rgb(0, 183, 255);
  color: whitesmoke !important;
}
.logo3{
  background: linear-gradient(to left, #fb16ff,#ff9310);
  color: whitesmoke !important;
}
.b-subtext{
  color: #b4b2b2;
  font-size: 14px;
}
.b-form .form-control{
  font-size:14px;
  height: 50px;
  padding-left: 45px;
  background: #edf9fe;
  border-color: #edf9fe;
  color: #333;
}
.b-form .form-control:focus{
  outline:none;
  box-shadow:none;
} 
.form-group{
  position: relative;
}
.b-font{
  position: absolute;
  top: 18px;
  left: 18px;
  z-index: 10;
  color: #6b6b6b;
  font-size:13px;
}    
.b-form button{
  letter-spacing: 0.4px;
  padding: 15px 85px;
  border-radius: 36px;
  border: 1.5px solid #fff;
  background: grey;
  color: #fff;
  text-transform: uppercase;
  margin-top:25px;
}
.b-form button:hover{
  background: whitesmoke;
  color: grey;
  border: 2px solid grey;
}
.b-form button:focus{
  outline:none;
}
.b-form .b-forgot{
  border-bottom: 1px solid #e8e4e4;
  padding-bottom: 10px;
  color: #7e7e7e;
  font-size: 14px;
  font-weight: 600;
  cursor:pointer;
  display:none;
}
.swift_right{
  display:none;
}
.swift_element{
  display:flex;
  align-items:unset;
  flex-direction: row-reverse;
  transition:0.3s ease-in-out;
  -webkit-transition:0.3s ease-in-out;
  -moz-transition:0.3s ease-in-out;
  -ms-transition:0.3s ease-in-out;
  -o-transition:0.3s ease-in-out;
}
.icon{
  font-size:35px;
}
.bi{
   color: #FFA500;
}


.popup{
  width: 400px;
  background: linear-gradient(to left, #60232B,#282F5B);
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: rgb(255, 250, 250);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.open-popup{
  visibility:visible;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
}

.popup img{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}
.popup .button2{
  width:100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #FFA500;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
